<html>

{% block title %} Press button to scrap {% endblock %}
{% block body %}
    <form action="" method="POST">
        {% csrf_token %}
        {% for field in form%}
            <div class="wrapper">
                {{field.label_tag}}
                {{field}}
                <ul class="smth">
                    {%for error in field.errors%}
                        <li class="smth2">
                            {{error|escape}}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
        <input type="submit" value="SCRAP!">
    </form>

{% endblock %}

</html>